<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Safety Net - Accueil</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
	integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO"
	crossorigin="anonymous">
</head>
<body id="homeBgrImg">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
						href="/home">Home</a></li>

					<li class="nav-item"><a class="nav-link" href="/person">Personnes</a></li>
					<li class="nav-item"><a class="nav-link" href="/firestation">Casernes
							pompiers</a></li>
					<li class="nav-item"><a class="nav-link" href="/medrecords">Dossiers
							médicaux</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br/>
	<h1 style="color:black">Bienvenue dans le système Safety Net Alerts !</h1>
</body>
</html>