<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Safety Net - Dossiers médicaux</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css"
	integrity="sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
						href="/home">Home</a></li>

					<li class="nav-item"><a class="nav-link" href="/person">Personnes</a></li>
					<li class="nav-item"><a class="nav-link" href="/firestation">Casernes
							pompiers</a></li>
					<li class="nav-item"><a class="nav-link active" href="/medrecords">Dossiers
							médicaux</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<br>
	<h3 class="text-center">Dossiers médicaux</h3>
	<br>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Date de naissance</th>
				<th>Médication</th>
				<th>Allergies</th>
				<th>Modifier</th>
				<th>Effacer</th>
			</tr>
		</thead>
		<tbody th:each="person : ${listePersonnes}">
			<tr class="table-secondary">
				<td th:text="${person.lastName}"></td>
				<td th:text="${person.firstName}"></td>
				<td th:text="${person.address}"></td>
				<td th:text="${#strings.listJoin({person.zip, person.city}, ' ')}"></td>
				<!--				<td th:text="${p.zip}"></td> -->
				<td th:text="${person.phone}"></td>
				<td th:text="${person.email}"></td>
				<td><a th:href="@{/editPerson/{id}(id = ${person.id})}"><span
						class="iconify" data-icon="la:pen-fancy" data-inline="false"></span></a></td>
				<td><a th:href="@{/deletePerson/{id}(id = ${person.id})}"><span
						class="iconify" data-icon="entypo:trash" data-inline="false"></span></a></td>
			</tr>
		</tbody>
	</table>

	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>
</html>